---
import Footer from "components/Common/Footer";
import MenuNav from "components/Common/MenuNav";
import Nav from "components/Common/Nav";
import Layout from "layouts/Layout.astro";
---

<Layout title="Personalized Therapy - Early Phase Clinical Trials" />
<Nav />
<MenuNav />

<div class="container-alternate mx-auto mb-32 pt-28">
  <div>
    <p class="text-lg pb-15 text-gray-600 font-medium">
      We are here to care for you.
    </p>
  </div>

  <div class=" lg:flex justify-between">
    <div class="">
      <h1 class="mt-5 font-semibold  text-3xl md:text-6xl md:leading-tight">
        Personalized Therapy - Early Phase Clinical Trials
      </h1>
    </div>
    <div class="mr-6 font-medium pt-4 text-sm md:text-lg">
      <a href="https://mskcc.icliniq.com/" class="text-gray-400 mr-2">Home</a>
      <span class="mr-2 text-gray-400 font-medium">|</span>
      <a href="" class="text-gray-400 font-medium mr-2">Cancer Care</a>
      <span class="mr-2 text-gray-400 font-medium">|</span>
      <a class="text-primary mr-2">Clinical Trials</a>
    </div>
  </div>

  <div class="pt-10 md:pt-28 text-gray-800">
    <p class="pb-5">
      MSK experts strive to lead the way in every stage of the research process.
      All treatment options for cancer patients available today started with the
      early phase (phase I study) of a clinical trial.
    </p>
    <p class="pb-5">
      Early phase trials of promising new medicines for solid tumors in the body
      of adult and pediatric cancer patients are conducted by MSK's Early Drug
      Development (EDD) Service. They run early phase clinical trials across
      disease types and molecular targets. Early Drug Development Service aims
      to
    </p>
    <ul class="list-disc pl-5">
      <li>
        Provide MSK patients the opportunity to access the latest drugs for
        specific cancer or cancer mutation at the earliest.
      </li>
      <li>
        Determine the optimal safe doses to start with later phases (phase II
        and phase III) and advance the research and development of new treatment
        modalities.
      </li>
      <li>
        Allow rapid evaluation of drugs showing promising results using advanced
        clinical trial designs like basket trials. This targets a specific
        genetic mutation in various tumors from different cancer types.
      </li>
    </ul>

    <div class="pt-10">
      <h2 class="font-semibold text-lg pb-3">Early Phase Trials at MSK</h2>
      <img
        src="https://assets.icliniq.com/v2/assets/images/mskcc/img/mskcc-cancer/img-compress/section-title-line.svg"
        alt="Title line"
        title="Title line"
      />

      <div class="pt-4 pb-8 pl-4">
        <ul class="list-disc ">
          <li class="pt-5">
            <span class="font-semibold">Experience </span> - MSK, Memorial Sloan Kettering
            Cancer Center, was among the first institutions to receive the designation
            of a National Cancer Institute-designated Comprehensive Cancer Center
            in 1971. More than 600 clinical trials in different research phases for
            various types of cancer are currently ongoing at MSK. From these clinical
            trials, the EDD team is conducting around 35 early phase studies.
          </li>
          <li class="pt-5">
            <span class="font-semibold"> Large Patient Groups</span> - Early phase
            trials need a substantial number of volunteers. As MSK is a high-volume
            cancer center, patients with many disease types and rare cancers get
            enrolled in the trials. MSK's comprehensive care facilities at many regional
            sites have made the recruitment and study start-up more convenient and
            faster. For trials requiring more significant numbers of volunteers,
            MSK leads and participates in multisite trials and collaborates with
            other cancer centers.
          </li>
          <li class="pt-5">
            <span class="font-semibold">Experience</span> - MSK-IMPACT™, MSK's
            targeted tumor-sequencing test, can match patients with tumors to
            targeted drugs based on the tumor's molecular profile. This US Food
            and Drug Administration authorized test provides the opportunity to
            choose the participants based on who will most likely be benefited
            from experimental therapies. It also detects microsatellite
            instability, which can identify people that may benefit from
            immunotherapy.
          </li>
          <li class="pt-5">
            <span class="font-semibold"> Advanced Technologies</span> -
            MSK-IMPACT™, MSK's targeted tumor-sequencing test, can match
            patients with tumors to targeted drugs based on the tumor's
            molecular profile. This US Food and Drug Administration authorized
            test provides the opportunity to choose the participants based on
            who will most likely be benefited from experimental therapies. It
            also detects microsatellite instability, which can identify people
            that may benefit from immunotherapy.
          </li>
          <li class="pt-5">
            <span class="font-semibold">Collaboration</span> - A collaboration
            between MSK's physicians and scientists is the key to MSK's
            expansion of drug development initiatives. The EDD Service supports
            the Department of Medicine, Sloan Kettering Institute, and Human
            Oncology and Pathogenesis Program. MSK's EDD team also works closely
            with the Precision Pathology Biobanking Center, Marie-Josée and
            Henry R. Kravis Center for Molecular Oncology, Functional Genomics
            Initiative, Brain Tumor Center, and Center for Epigenetics Research.
          </li>
          <li class="pt-5">
            <span class="font-semibold"> Study Support</span> - MSK's experienced
            Primary Investigators oversee clinical trials at all their study
            sites. Their Primary Investigators collaborate with clinical
            research support teams, which includes research program managers,
            clinical research managers, clinical research supervisors, clinical
            trial nurses, and protocol research study assistants.
          </li>
          <li class="pt-5">
            <span class="font-semibold"> Exceptional Patient Care</span> - MSK experts
            provide comprehensive care to cancer patients, including their families,
            through all phases of treatment. Genetic counseling, pain management,
            rehabilitation, integrative medicine services, and assistance in managing
            life after treatment are included in cancer care. MSK's cancer care teams
            are in close communication with patients participating in clinical trials.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<Footer />
