---
import Cases from 'components/Dashboard/Cases';
import SideNav from 'components/Dashboard/Common/SideNav';
import DashNav from 'components/Dashboard/Common/DashNav';
import Layout from 'layouts/Layout.astro';
import CaseDetails from 'components/Dashboard/Cases/CaseDetails';
import { MEDICAL_RECORDS } from 'constants/DashboardConstants';

const cookie = Astro.request.headers.get('cookie');
if (!cookie!.includes('session')) {
  return Astro.redirect('/login');
}

---

<Layout title="Cases">
	<DashNav />
	<!-- <SideNav activeMenu="cases" />  -->
	<div class="pl-28 pt-16"><CaseDetails Rec={MEDICAL_RECORDS}/></div> 
	<!-- <Cases client:load /> -->
</Layout>

<style is:global>
	body {
		font-family: Poppins;
	}
</style>

