@import url("../assets/icons/fontawesome-pro-5/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {scroll-behavior: smooth}
body {
    background: #fff;
    font-family: 'rubik', sans-serif;
    min-height: 100vh;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #223645;
    font-family: 'Poppins', sans-serif;
}

.poppins-font {
    font-family: 'Poppins', sans-serif;
}

.rubik-font {
    font-family: 'rubik', sans-serif;
}

.gray-bg {
    background: #f4f9fc;
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

.container-alternate {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}


.card-with-no-padding>div {
    padding: 0px;
}

.btn-icon {
    display: inline-flex;
    min-height: 60px;
    align-items: center;
    transition: all .3s ease 0s;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    border-radius: 60px;
    padding-left: 84px;
    padding-right: 50px;
    background-color: #002569;
    box-shadow: 0 8px 16px 0 #06488546;
}

.btn-icon span {
    position: absolute;
    left: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    top: 5px;
    line-height: 50px;
    background: #fff;
    transition: .3s;
    font-size: 20px;
    font-weight: 600;
    color: #223645;
    border-radius: 100%;
}

.btn-icon:hover {
    transition: all .3s ease 0s;
    background-color: #f7fbff;
    box-shadow: 0 8px 16px 0 rgba(125, 178, 73, .2);
    color: #223645;
}

.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
}

.instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
}

.instructions strong {
    color: rgb(var(--accent));
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

@media (max-width: 768px) and (max-width: 991px) {
    .btn-icon {
        min-height: 53px;
        border-radius: 30px;
        padding-left: 55px;
        padding-right: 20px;
        background-color: #002569;
        box-shadow: 0px 8px 16px 0px #06488546;
    }

    .btn-icon span {
        position: absolute;
        left: 10px;
        text-align: center;
        width: 35px;
        height: 35px;
        top: 8px;
        line-height: 35px;
        background: #fff;
        transition: .3s;
        font-size: 20px;
        font-weight: 600;
        color: #223645;
        border-radius: 100%;
    }
}

@media (min-width: 576px) {
    .container-alternate {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container-alternate {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container-alternate {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container-alternate {
        max-width: 1200px
    }
}

.custom-accordation-item>button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease-out;
}

.custom-accordation {
    overflow: hidden;
    transition: all 0.2s ease-out;
    max-height: 0px;
}

.custom-accordation-open {
    max-height: 1000px;
    transition: max-height 0.2s ease-in;
}

.mskcc-nav-options {
    overflow: hidden;
    transition: all 0.2s ease-out;
    max-height: 0px;
}

.mskcc-nav-option-open {
    max-height: 500px;
    transition: max-height 0.2s ease-in;
}

.mskcc-menu-nav-options {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10%);
    transition: transform 0.3s, opacity 0.3s ease-in-out;
    z-index: 500;
}

.menu-opt:hover~.mskcc-menu-nav-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mskcc-menu-nav-options:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.footer-bottom {
    color: #9aacbb;
    background: #0d1b26;
}
.banner-whatsapp-icon {
    bottom: 140px;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.3));
}
.banner-call-icon{
    bottom: 80px;
}
.banner-call-icon, .banner-whatsapp-icon {
    right: 20px;
    z-index: 10;
}


/* home */

@keyframes fade-in-up {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.video-floating{
    display: none;
}
.video-floating iframe {
    max-width: 100%;
    max-height: 100%;
}

.video-floating.stuck {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 260px;
    height: 145px;
    transform: translateY(100%);
    animation: fade-in-up 0.75s ease forwards;
    z-index: 1;
}
.icon-close-video{
    position: absolute;
    right: 7px;
    top: 7px;
    color: #fff;
    z-index: 999999;
    cursor: pointer;
}