@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-accordation-item>button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease-out;
}

.custom-accordation {
    overflow: hidden;
    transition: all 0.2s ease-out;
    max-height: 0px;
}

.custom-accordation-open {
    max-height: 500px;
    transition: max-height 0.2s  ease-in;
}

.mskcc-nav-options {
    overflow: hidden;
    transition: all 0.2s  ease-out;
    max-height: 0px;
}

.mskcc-nav-option-open {
    max-height: 500px;
    transition: max-height 0.2s  ease-in;
}