---
import Layout from "layouts/Layout.astro";
import Nav from "components/Common/Nav";
import MenuNav from "components/Common/MenuNav";
import Footer from "components/Common/Footer";

export const prerender = true;
---

<Layout title="MSK India | Get Second Opinion From Best Cancer Expert">
    <Nav client:idle />
    <MenuNav />
    <div class="container-alternate mx-auto mb-32 pt-28">
        <div class="block lg:flex items-center justify-between">
            <div class="mb-5 w-4/6">
                <p class="text-lg pb-15 text-gray-600 font-medium">
                    We are here to care for you.
                </p>
                <h1 class="mt-5 font-semibold text-3xl md:text-6xl">
                    MSK India Services
                </h1>
            </div>
            <div class="font-medium w-full lg:w-60">
                <a href="https://mskcc.icliniq.com/" class="text-gray-400 mr-2"
                    >Home</a
                >
                <span class="mr-2 text-gray-400">|</span>
                <a class="text-primary mr-2"> MSK India Services</a>
            </div>
        </div>
        <div class="mt-10">
            <ul class="list-disc mx-10 mt-3 leading-7 text-gray-700">
                <li class=" cursor-pointer">
                    <a href="https://mskcc.icliniq.com/mskcc-india-services/remote-second-opinion" class="hover:text-secondary transition-colors duration-300">
                        Remote Second Opinion</a>
                </li>
                <li class=" cursor-pointer mt-2">
                    <a href='https://mskcc.icliniq.com/mskcc-india-services/mskcc-patient-faqs' class="hover:text-secondary transition-colors duration-300">
                        Find All the Answers Here</a>
                </li>
                <li class=" cursor-pointer mt-2">
                    <a href='https://mskcc.icliniq.com/mskcc-india-services/travel-guide-to-mskcc-new-york' class="hover:text-secondary transition-colors duration-300">
                        Travel to MSK</a>
                </li>
                <li class=" cursor-pointer mt-2">
                    <a href='https://mskcc.icliniq.com/mskcc-india-services/book-an-appointment-online' class="hover:text-secondary transition-colors duration-300">
                        Request a consult</a>
                </li>
            </ul>
        </div>
    </div>
    <Footer />
</Layout>
