---
import Layout from "layouts/Layout.astro";
import Nav from "components/Common/Nav";
import MenuNav from "components/Common/MenuNav";
import Footer from "components/Common/Footer";

export const prerender = true;
---

<Layout title="Patients and Visitors Guide to Travel to MSK (New York)">
    <meta 
		name="title" 
		content="Patients and Visitors Guide to Travel to MSK (New York)"
		slot="meta-header" 
	/>
	<meta 
		name="description" 
		content="Want to travel to MSK in New York for treatment? Know how our guest services team will assist you and the advantages of choosing MSK for your cancer care."
		slot="meta-header"
	/>
	<meta 
		name="Keywords" 
		content="Patients Guide,Visitors Guide,MSKCC"
		slot="meta-header"
	/>
	<link 
		rel="canonical" 
		href="https://mskcc-app-dev.icliniq.com/mskcc-india-services/travel-guide-to-mskcc-new-york"
        slot="meta-header"
	/>
    <Nav client:idle />
    <MenuNav />
    <div class="container-alternate mx-auto mb-32 pt-28">
        <div class="block lg:flex items-center justify-between">
            <div class="mb-5 w-4/6">
                <p class="text-lg pb-15 text-gray-600 font-medium">
                    We are here to care for you.
                </p>
                <h1 class="mt-5 font-semibold text-3xl md:text-6xl">
                    Care at MSK in New York
                </h1>
            </div>
            <div class="font-medium w-full lg:w-60">
                <a href="https://mskcc-app-dev.icliniq.com/" class="text-gray-400 mr-2"
                    >Home</a
                >
                <span class="mr-2 text-gray-400">|</span>
                <a
                    href="https://mskcc-app-dev.icliniq.com/mskcc-india-services"
                    class="text-gray-400 mr-2"
                >
                    MSK India Services</a
                >
                <span class="mr-2 text-gray-400">|</span>
                <a class="text-primary mr-2"> Care at MSK in New York</a>
            </div>
        </div>
        <div class="px-5">
            <h4 class="text-xl font-semibold mt-16 tracking-normal">
                For patients interested in receiving care at MSK's main campus
                in New York City, and for whom on-site care is clinically
                advisable as determined by MSK physicians, our guest services
                team will provide the information needed to make this transition
                as smooth as possible. Ask us about:
            </h4>
            <ul class="list-disc mx-10 mt-3 leading-7 text-gray-700">
                <li>Medical appointment letters for visa applications</li>
                <li>
                    Preferred hotels and discounted room and apartment rates
                </li>
                <li>Transportation arrangements to and from the airport</li>
                <li>
                    Interpretation services 24 hours a day, in Hindi and other
                    languages of the Indian subcontinent, including Bengali,
                    Gujarati, Kanada, Punjabi, Tamil, Telegu, and Urdu
                </li>
            </ul>
            <h4 class="text-xl font-semibold mt-5">
                What Are the Advantages of Choosing MSK in New York for Care?
            </h4>
            <h5 class="text-lg text-gray-700 font-medium mt-5 font-['rubik']">
                Convenience
            </h5>
            <p class="mt-2 text-gray-600">
                Direct flights between New York City and major Indian cities are
                available daily with multiple airlines. The local public
                transportation in New York City is easily accessible. Subway,
                bus, taxis, and other public transportation services are
                available 24 hours a day, throughout the week, and are the most
                convenient way to get around the city.
            </p>
            <h5 class="text-lg text-gray-700 font-medium mt-5 font-['rubik']">
                Food
            </h5>
            <p class="mt-2 text-gray-600">
                The numerous restaurants in New York City serve nearly every
                cuisine from around the world. You are bound to find something
                to your liking, from more than 70 Michelin-starred restaurants
                to local joints. New York City also has thousands of Indian
                restaurants, where you can find almost all regional Indian
                dishes. Convenience stores and supermarkets are within walking
                distance of MSK.
            </p>
            <h5 class="text-lg text-gray-700 font-medium mt-5 font-['rubik']">
                Art and Culture
            </h5>
            <p class="mt-2 text-gray-600">
                New York City offers numerous art exhibitions, performances, and
                concerts and is home to famous museums, theaters, and live music
                venues. The Metropolitan Museum of Art, the Solomon R.
                Guggenheim Museum, and the Lincoln Center for Performing Arts
                are all within three kilometers of MSK. Broadway's theaters are
                easily accessible by public transportation or car.
            </p>
            <h5 class="text-lg text-gray-700 font-medium mt-5 font-['rubik']">
                Parks and Gardens
            </h5>
            <p class="mt-2 text-gray-600">
                Amidst the concrete jungle, New York City has eternal and quiet
                parks and gardens. You can walk to Central Park, which is a
                must-see attraction, in less than 20 minutes. You will love
                other spots like the Central Park Zoo and the reservoir. You can
                also reach Fort Tryon Park by taking a one-hour subway ride from
                MSK. You can enjoy ancient artwork and architecture at the
                Cloisters, a part of the Metropolitan Museum of Art, and an
                outdoor garden with more than 500 varieties of plants, trees,
                and shrubs. Less than an hour's car ride will take you to the
                New York Botanical Gardens, which is home to over a million
                plants.
            </p>
            <h5 class="text-lg text-gray-700 font-medium mt-5 font-['rubik']">
                Indian Community in New York City
            </h5>
            <p class="mt-2 text-gray-600">
                The thriving Indian and South Asian communities in New York City
                will make you feel at home and provide help and support. For
                those who require additional language assistance, interpretation
                services are available 24 hours a day, in Hindi and other
                languages of the Indian subcontinent, including Bengali,
                Gujarati, Kanada, Punjabi, Tamil, Telegu, and Urdu. You will be
                provided verbal and written translation whenever needed while at
                MSK
            </p>
            <h5 class="text-lg text-gray-700 font-medium mt-5 font-['rubik']">
                Shopping
            </h5>
            <p class="mt-2 text-gray-600">
                New York is home to famous department stores (such as Macy's and
                Bloomingdales), boutiques (such as Tiffany's and the numerous
                designer clothing shops at Bergdorf Goodman), flagship stores
                (Adidas, Saks Fifth Avenue), shopping malls (the Shops at
                Columbus Circle), and outlets, such as high-end factory outlet
                stores at Woodbury Commons, which are 45 minutes from Manhattan.
                You can find daily necessities to creative fashion in various
                areas around the city.
            </p>
        </div>
    </div>
    <Footer />
</Layout>
