---
import Footer from "components/Common/Footer";
import MenuNav from "components/Common/MenuNav";
import Nav from "components/Common/Nav";
import CancerInfo from "components/Home/CancerInfo";
import { Cancer_type_test } from "constants/HomeConstants";
import Layout from "layouts/Layout.astro";


const { cancertypes } = Astro.params;
const cancerTypeArr = Cancer_type_test.find((data) => data.path === cancertypes);
if (!cancerTypeArr) return Astro.redirect("/404");



---

<Layout title="">
  <Nav client:idle />
  <MenuNav />
  <div class="w-4/5 container-alternate bg-white">
    <h2 class="text-md font-semibold text-gray-600 pt-20 mb-12">
      We are here to care for you.
    </h2>
    <div class="lg:flex justify-between">
      <div class="">
        <h1 class="mt-5 font-semibold text-3xl md:text-6xl md:leading-tight">
          {cancerTypeArr.title}
        </h1>
      </div>
      <div class="mr-6 font-medium pt-4 text-sm md:text-base">
        <a href="https://mskcc.icliniq.com/" class="text-gray-400 mr-2">Home</a>
        <span class="mr-2 text-gray-400 font-medium">|</span>
        <a href="/cancer-care/" class="text-gray-400 font-medium mr-2">Cancer Care</a>
        <span class="mr-2 text-gray-400 font-medium">|</span>
        <a href="/cancer-care/types/" class="text-gray-400 mr-2">types</a>
        <span class="mr-2 text-gray-400 font-medium">|</span>
        <a class="text-primary mr-2">{cancerTypeArr.breadCrumbName}</a>
      </div>
    </div>
    <div class="pt-20 ">
      <div class="pb-10">{cancerTypeArr.about}</div>
      
      <div><CancerInfo info={cancerTypeArr.info} client:idle/></div>


    </div>
    <a  id="Request-consult" href="https://mskcc.icliniq.com/mskcc-india-services/book-an-appointment-online" class="btn btn-icon ml-0 mt-10 mb-10"><span>+</span>Request a consult</a>
  </div>
  <Footer/>
</Layout>
