---
import Footer from "components/Common/Footer";
import MenuNav from "components/Common/MenuNav";
import Nav from "components/Common/Nav";
import Layout from "layouts/Layout.astro";
import { CANCER_SPECIALTIES } from "constants/HomeConstants";
---

<Layout title="">
  <Nav />
  <MenuNav />
  <div class="w-4/5 container-alternate bg-white">
    <h2 class="text-md font-semibold text-gray-600 pt-20 mb-12">
      We are here to care for you.
    </h2>
    <div class="md:flex justify-between">
      <h1 class="text-4xl md:text-6xl font-semibold">Types of cancer</h1>
      <div class="mr-6 font-medium pt-4 text-md md:text-lg md:font-semibold">
        <a href="https://mskcc.icliniq.com/" class="text-gray-400 mr-2">Home</a>
        <span class="mr-2 text-gray-400">|</span>
        <a class="text-primary mr-2">Types of cancer</a>
      </div>
    </div>
    <div class="p-8 pt-24">
      {
        CANCER_SPECIALTIES.map((data) => (
          <>
            <ul class="list-disc">
              <li class="hover:text-blue-600 leading-9">
                <a href={`${data.cancer_path_url}`}>{data.cancer_label}</a>
              </li>
            </ul>
          </>
        ))
      }
    </div>
  </div>

  <Footer />
</Layout>
