---
if (Astro.request.method === "POST") {
  try {
    const data: FormData = await Astro.request.formData();

    console.log('name', data.get("name"));
    console.log('email', data.get("email"));
    console.log('password', data.get("password"));
    const file = data.get("fileToUpload")! as File;
    file.arrayBuffer().then((buffer) => {
      console.log('buffer', buffer);
    });
    console.log('file', file);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---
<h1>Register</h1>
<form method="POST">
  <label>
    Username:
    <input type="text" name="name" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <label>
    Password:
    <input type="password" name="password" required minlength="6" />
  </label>
  <label>
    File:
    <input type="file" name="fileToUpload" id="fileToUpload">
  </label>
  
  <button>Submit</button>
</form>