---
import Layout from "layouts/Layout.astro";
import Nav from "components/Common/Nav";
import MenuNav from "components/Common/MenuNav";
import Footer from "components/Common/Footer";
import TeamCard from "components/MskccIndiaTeam/TeamCard";
import { MSKCC_INDIA_TEAM } from "constants/HomeConstants";

export const prerender = true;
---

<Layout title="Meet Our Core Team | MSK India-iCliniq">
    <meta 
		name="title" 
		content="Meet Our Core Team | MSK India-iCliniq"
		slot="meta-header" 
	/>
	<meta 
		name="description" 
		content="Here are the experts who make the Medical and Patient Material Coordinator Teams at MSK India. They are fully prepared and dedicated to helping you in your fight against cancer."
		slot="meta-header"
	/>
	<meta 
		name="Keywords" 
		content="Medical Second Opinion,Cancer Experts,Cancer Specialists,oncologists,MSK India"
		slot="meta-header"
	/>
	<link 
		rel="canonical" 
		href="https://mskcc-app-dev.icliniq.com/mskcc-india-team"
        slot="meta-header"
	/>
    <Nav client:idle />
    <MenuNav />
    <div class="container-alternate mx-auto px-4 mb-32 pt-28">
        <div class="block md:flex items-center justify-between">
            <div class="mb-5  w-4/6">
                <p class="text-lg pb-15 text-gray-600 font-medium">
                    We are here to care for you.
                </p>
                <h1 class="mt-5 font-semibold text-3xl md:text-6xl">
                    India Center Team
                </h1>
            </div>
            <div class="font-medium w-full lg:w-60 ">
                <a href="https://mskcc-app-dev.icliniq.com/" class="text-gray-400 mr-2"
                    >Home</a
                >
                <span class="mr-2 text-gray-400">|</span>
                <a class="text-primary mr-2">India Center Team</a>
            </div>
        </div>
        <div class="flex items-center justify-center flex-col mt-20">
            <h2 class="text-4xl font-semibold mb-5">MSK India Center</h2>
            <div class="mb-10">
                <img
                    src="https://assets.icliniq.com/v2/assets/images/mskcc/img/mskcc-cancer/img-compress/section-title-line.svg" width="140" height="3"
                    alt="Title line"
                    title="Title line"
                />
            </div>
            <div class="px-5 lg:px-24">
                <video
                    class="w-100 mt-10"
                    id="video-player"
                    poster="https://assets.icliniq.com/mskcc-india/mskcc-india-front-pause.png"
                    preload="metadata"
                    controls=""
                >
                    <source
                        src="https://s3.amazonaws.com/images.icliniq.com/video/MSK+India+welcome+video_icliniq+site+and+phone.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
        </div>
        <div class="flex items-center justify-center flex-col mt-20">
            <h2 class="text-4xl font-semibold mb-5">Medical Team</h2>
            <div class="mb-5">
                <img
                    src="https://assets.icliniq.com/v2/assets/images/mskcc/img/mskcc-cancer/img-compress/section-title-line.svg" width="140" height="3"
                    alt="Title line"
                    title="Title line"
                />
            </div>
            <p class="px-5 lg:px-24 text-gray-600">
                The Chennai-based medical team is led by a Board-certified
                Medical Oncologist and includes other clinical and operations
                experts who guide patients through every step of their journey
                with MSK. From the first phone call or email, patients can
                expect thoughtful, customized, and compassionate interactions
                with our team—from describing services in detail and gathering
                patient medical records to setting up appointments with MSK’s
                doctors in New York. For every unique cancer journey, the
                medical team in India serves as a crucial bridge between
                patients and MSK physicians in New York.
            </p>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-5 mt-20"
            >
                {
                    MSKCC_INDIA_TEAM["Medical Team"].map((res) => {
                        return (
                            <TeamCard
                                drName={res["drName"]}
                                img={res["img"]}
                                designation={res["designation"]}
                            />
                        );
                    })
                }
            </div>
        </div>
        <div class="flex items-center justify-center flex-col mt-20">
            <h2 class="text-4xl font-semibold mb-5">
                Patient Material Coordinators
            </h2>
            <div class="mb-5">
                <img
                    src="https://assets.icliniq.com/v2/assets/images/mskcc/img/mskcc-cancer/img-compress/section-title-line.svg" width="140" height="3"
                    alt="Title line"
                    title="Title line"
                />
            </div>
            <p class="px-5 lg:px-24 text-gray-600">
                Our energetic and dedicated Patient Material Coordinators play
                an indispensable role in the entire remote second opinion
                process. They help patients gather all the required reports,
                images, and other crucial documents for the remote consultation,
                while clarifying their doubts and addressing questions on the
                remote service process. When required, they travel to any
                location across the country to visit the patient/caretaker’s
                home or concerned hospital to collect the pathology slides/wax
                blocks/report/DICOM CDs, and other materials to make the process
                more convenient. They serve as a critical liaison between
                patients, hospitals, and MSK’s India Center.
            </p>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-5 mt-20"
            >
                {
                    MSKCC_INDIA_TEAM["Patient Material Coordinators"].map(
                        (res) => {
                            return (
                                <TeamCard
                                    drName={res["drName"]}
                                    img={res["img"]}
                                />
                            );
                        }
                    )
                }
            </div>
        </div>
        <div class="flex items-center justify-center flex-col mt-20">
            <h2 class="text-4xl font-semibold mb-5">
                Patient Relation Associate
            </h2>
            <div class="mb-5">
                <img
                    src="https://assets.icliniq.com/v2/assets/images/mskcc/img/mskcc-cancer/img-compress/section-title-line.svg" width="140" height="3"
                    alt="Title line"
                    title="Title line"
                />
            </div>
            <p class="px-5 lg:px-24 text-gray-600">
                Our zestful and passionate Patient Relation Associate plays a
                prime role in reaching out to the patient to assist and support
                the patients and visitors as per their needs and effectively
                manage the front desk service.
            </p>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-5 mt-20"
            >
                {
                    MSKCC_INDIA_TEAM["Patient Relation Associate"].map(
                        (res) => {
                            return (
                                <TeamCard
                                    drName={res["drName"]}
                                    img={res["img"]}
                                />
                            );
                        }
                    )
                }
            </div>
        </div>
    </div>
    <Footer />
</Layout>
