---
import Home from 'components/Dashboard/Home';
import SideNav from 'components/Dashboard/Common/SideNav';
import DashNav from 'components/Dashboard/Common/DashNav';
import Layout from 'layouts/Layout.astro';
import Activities from 'components/Dashboard/Home/Activities';
import {ACTIVITIES} from 'GlobalConstants'


const cookie = Astro.request.headers.get('cookie');
// if (!cookie.includes('session')) {
//   return Astro.redirect('/login');
// }



---

<Layout title="Home">
	<DashNav client:load/>
	<SideNav activeMenu={'home'} client:load/>
	<Home client:load />
	<div class="pt-9 pl-40">
		<Activities Acts={ACTIVITIES}/>
	  </div>

</Layout>

<style is:global>
	body {
		font-family: Poppins;
	}
</style>

